@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes balance {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(30deg);
  }
}

main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bg-primary;
  

 .header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 44px;
  
  .menu-options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    

    a{
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      color: white;
      &:hover{   
        color: $color-primary;
        transition: all 500ms;
      }
    
    }
  }
  button{
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      padding: 20px 50px;
      border-radius: 30px;
      border: none;
      height: 100%;
      width: 100%;
    }
    .btn-face-white{
      color: #515151;
      background-color: white ;
      z-index: 998;

      
    }
    .btn-face-purple{
      background: linear-gradient(45deg, #7223cf, #da2eb8) ;
      color: white;
      display: none;
      position: absolute;
      z-index: 999;
      top: 0;
      
      
    }
    &:hover{
    
      .btn-face-purple{
        animation: appear 200ms linear 100ms forwards ;
        display: flex;
        
      }
    }
  }
 
 }
 .content-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  

  h1{
    font-size: 52px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    
  }

  .bubble{
    background: hsla(0, 0%, 100%, 0.1);
    padding: 12px 14px;
    border-radius: 100%;
    position: absolute;

    &.fire{
      right: 20px;
      transform: rotate(-20deg);
      bottom: -30%;
      font-size: 24px;
    }
    &.rocket{
      top: 20%;
      right: 100px;
      font-size: 42px;
    }
    &.target{
      top: 20%;
      left: 100px;
      font-size: 52px;
      animation: balance 800ms alternate 200ms infinite ;
    }
    &.shop{
      bottom: -40%;
      left: 5%;
      font-size: 36px;
      transform: rotate(30deg);
    }
  }
}


}

